body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f2f5;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.topbar {
    width: 100%;
    background-color: #007bff;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
}

.tile-container {
    width: 90%;
    max-width: 1200px;
    margin: 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tile {
    display: none;
    margin: 20px;
    padding: 40px;
    border: 1px solid #e9ecef;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 450px;
    overflow: hidden; /* Changed from auto to hidden */
    font-size: 18px;
    flex: 1 1 calc(33.333% - 40px);
    box-sizing: border-box;
}

.tile.active {
    display: block;
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.tile h2 {
    margin-top: 0;
    font-size: 28px;
    color: #007bff;
}

.tile img {
    max-width: 100%;
    max-height: 300px; /* Added this line to limit the height of the image */
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin-top: 20px;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .tile {
        flex: 1 1 calc(50% - 40px);
    }
}

@media (max-width: 480px) {
    .tile {
        flex: 1 1 100%;
    }
}
