body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0d47a1;
  color: #000;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right';
  gap: 5px;
  padding: 10px;
  max-width: 100vw;
  max-height: 100vh;
  box-sizing: border-box;
}

.grid-container > div {
  background-color: #f8f7f2;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  box-sizing: border-box;
}

.header { grid-area: header; }
.menu { grid-area: menu; }
.main { grid-area: main; }
.right { grid-area: right; }

.header {
  font-size: 50px;
  font-weight: bold;
  padding: 2px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  text-align: left;
}

ul li {
  margin-bottom: 5px;
  font-size: 18px;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #4d5731;
  color: #f8f7f2;
}

.footer img {
  width: 150px;
  height: 150px;
  margin: 5px;
  border-radius: 10px;
}

h2 {
  font-size: 24px;
}

p {
  font-size: 18px;
}
